@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Sofia+Sans:wght@300;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

body {
  background: #212123;
  font-size: 16px;
  line-height: 16px;
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #fff;
  font-weight: 500;
  padding-bottom: 20px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

input {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
